<%
aForm = ""
aForm = aForm + "<html>"

aForm = aForm + "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">"

aForm = aForm + " <form action=\"/board\" method=\"post\"> "

aForm = aForm + "<head> <title>Generating Results</title> </head> <body>"
aForm = aForm + " <div> Results will take 5-7 seconds (30-40 seconds with a '*' character).  You can ask for Results using the button below. </div> "

aForm = aForm  + "<div> <input type = \"submit\" name=\"Show Results\" value = \"Show Results So Far\" formaction = \"/results\"/> <\div> </body> </form>"

aForm =  aForm + "<script>"
aForm = aForm +  "var form = document.createElement(\"form\");"
aForm =  aForm +  "form.setAttribute(\"method\", \"POST\");"
aForm =  aForm +  "form.setAttribute(\"action\", \"/results\");"
aForm =  aForm +   "t = setTimeout(function(){form.submit()},30000);"
aForm = aForm + "</script>"

aForm = aForm + "</html>"

return aForm

%>

