<ClinicalDocument xmlns="urn:hl7-org:v3" xmlns:voc="urn:hl7-org:v3/voc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:hl7-org:v3 CDA.xsd">
  <realmCode xmlns="urn:hl7-org:v3" code="US" /> 
  <typeId xmlns="urn:hl7-org:v3" extension="POCD_HD000040" root="2.16.840.1.113883.1.3" /> 
  <templateId xmlns="urn:hl7-org:v3" root="2.16.840.1.113883.10.20.2" /> 
  <id xmlns="urn:hl7-org:v3" extension="12429" root="2.16.840.1.113883.3.423.2.956.2.1" /> 
  <code xmlns="urn:hl7-org:v3" code="34117-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="HISTORY AND PHYSICAL NOTE" /> 
  <title xmlns="urn:hl7-org:v3">History and Physical Report</title> 
  <effectiveTime xmlns="urn:hl7-org:v3" value="20130404084557-0400" /> 
  <confidentialityCode xmlns="urn:hl7-org:v3" code="N" codeSystem="2.16.840.1.113883.5.25" /> 
  <languageCode xmlns="urn:hl7-org:v3" code="en-US" /> 
  <setId xmlns="urn:hl7-org:v3" root="2.16.840.1.113883.3.423.1.956.2.9" extension="2012" /> 
  <versionNumber xmlns="urn:hl7-org:v3" value="0" /> 
- <recordTarget xmlns="urn:hl7-org:v3">
- <patientRole>
  <id extension="9870911" root="2.16.840.1.113883.3.423.1.956.2.3.1" /> 
  <addr nullFlavor="UNK" /> 
  <telecom nullFlavor="UNK" /> 
- <patient>
- <name>
  <family>Person</family> 
  <given>Unknown</given> 
  </name>
  <administrativeGenderCode nullFlavor="UNK" /> 
  <birthTime nullFlavor="UNK" /> 
  </patient>
  </patientRole>
  </recordTarget>
- <author xmlns="urn:hl7-org:v3">
  <time value="20130404000000-0400" /> 
- <assignedAuthor>
  <id extension="TsdUser" root="2.16.840.1.113883.3.423.1.956.2.2.1" /> 
  <addr nullFlavor="UNK" /> 
  <telecom nullFlavor="UNK" /> 
- <assignedPerson>
  <name nullFlavor="UNK" /> 
  </assignedPerson>
  </assignedAuthor>
  </author>
- <custodian xmlns="urn:hl7-org:v3">
- <assignedCustodian>
- <representedCustodianOrganization>
  <id extension="1" root="2.16.840.1.113883.3.423.1.956.2.4" /> 
  <name>Training</name> 
  <telecom nullFlavor="UNK" /> 
  <addr nullFlavor="UNK" /> 
  </representedCustodianOrganization>
  </assignedCustodian>
  </custodian>
- <componentOf xmlns="urn:hl7-org:v3">
- <encompassingEncounter moodCode="EVN">
  <id extension="120197" root="2.16.840.1.113883.3.423.1.956.2.6" /> 
- <effectiveTime>
  <low nullFlavor="UNK" /> 
  <high nullFlavor="UNK" /> 
  </effectiveTime>
- <location>
- <healthCareFacility>
  <id extension="Training" root="2.16.840.1.113883.3.423.1.956.2.4" /> 
- <location>
  <name nullFlavor="UNK" /> 
  <addr nullFlavor="UNK" /> 
  </location>
- <serviceProviderOrganization>
  <id extension="1" root="2.16.840.1.113883.3.423.1.956.2.4" /> 
  <name>Training</name> 
  <telecom nullFlavor="UNK" /> 
  <addr nullFlavor="UNK" /> 
  </serviceProviderOrganization>
  </healthCareFacility>
  </location>
  </encompassingEncounter>
  </componentOf>
- <component>
- <structuredBody>
- <component>
- <section>
  <templateId root="2.16.840.1.113883.10.20.2.8" /> 
  <code code="29299-5" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="REASON FOR VISIT" /> 
  <title>REASON FOR VISIT</title> 
  <text>None Recorded.</text> 
  </section>
  </component>
- <component>
- <section>
  <code code="40723078" codeSystem="2.16.840.1.113883.3.423.1.124816.3.8.1.1" codeSystemName="Nuance Section Code" displayName="miscellaneous" /> 
  <title>miscellaneous</title> 
- <text>
- <paragraph>
  <content ID="token20"><</content> 
  <content ID="token22">View</content> 
  <content ID="token24">Clarifications</content> 
  <content ID="token26">></content> 
  </paragraph>
  </text>
  </section>
  </component>
- <component>
- <section>
  <templateId root="2.16.840.1.113883.10.20.2.8" /> 
  <code code="10154-3" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="CHIEF COMPLAINT - REPORTED" /> 
  <title>CHIEF COMPLAINT - REPORTED</title> 
- <text>
- <paragraph>
  <content ID="token36">The</content> 
  <content ID="token38">patient</content> 
  <content ID="token40">presents</content> 
  <content ID="token42">today</content> 
  <content ID="token44">with</content> 
  <content ID="token46">recent</content> 
  <content ID="token48">onset</content> 
  <content ID="token50">of</content> 
  <content ID="token52">nocturnal</content> 
  <content ID="token54">shortness</content> 
  <content ID="token56">of</content> 
  <content ID="token58">breath</content> 
  <content ID="token61">.</content> 
  </paragraph>
  </text>
- <entry typeCode="DRIV">
- <act classCode="ACT" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.27" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.1" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.2" /> 
  <id root="2b3864d9-4399-485b-b00d-f590d2928884" /> 
  <code nullFlavor="NA" /> 
  <statusCode code="active" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
- <entryRelationship typeCode="SUBJ" inversionInd="false">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.28" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5" /> 
  <id root="602987a1-c464-49e4-8c70-b7669e9f74f7" /> 
  <code code="64572001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="Condition" /> 
- <text>
  <reference value="#xpointer(%23token54%7C%23token56%7C%23token58)" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
  <value xsi:type="CD" code="786.05" codeSystem="2.16.840.1.113883.6.2" codeSystemName="ICD9-CM" displayName="SHORTNESS OF BREATH" /> 
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.50" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="392521001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="HISTORY OF (CONTEXTUAL QUALIFIER)" /> 
  </observation>
  </entryRelationship>
  </observation>
  </entryRelationship>
  </act>
  </entry>
  </section>
  </component>
- <component>
- <section>
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.3.4" /> 
  <code code="10164-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="HISTORY OF PRESENT ILLNESS" /> 
  <title>HISTORY OF PRESENT ILLNESS</title> 
- <text>
- <paragraph>
  <content ID="token75">Recent</content> 
  <content ID="token77">onset</content> 
  <content ID="token79">of</content> 
  <content ID="token81">dyspnea</content> 
  <content ID="token83">while</content> 
  <content ID="token85">supine</content> 
  <content ID="token87">began</content> 
  <content ID="token88">two</content> 
  <content ID="token91">days</content> 
  <content ID="token93">ago</content> 
  <content ID="token95">.</content> 
  <content ID="token98">He</content> 
  <content ID="token100">has</content> 
  <content ID="token102">also</content> 
  <content ID="token104">complained</content> 
  <content ID="token106">of</content> 
  <content ID="token108">sudden</content> 
  <content ID="token110">ankle</content> 
  <content ID="token112">swelling</content> 
  <content ID="token115">that</content> 
  <content ID="token117">worsens</content> 
  <content ID="token119">as</content> 
  <content ID="token121">the</content> 
  <content ID="token123">day</content> 
  <content ID="token125">progresses</content> 
  <content ID="token127">.</content> 
  <content ID="token130">There</content> 
  <content ID="token132">has</content> 
  <content ID="token134">been</content> 
  <content ID="token136">no</content> 
  <content ID="token138">fever</content> 
  <content ID="token140">,</content> 
  <content ID="token142">chills</content> 
  <content ID="token144">or</content> 
  <content ID="token146">other</content> 
  <content ID="token148">symptoms</content> 
  <content ID="token150">to</content> 
  <content ID="token152">suggest</content> 
  <content ID="token154">infection</content> 
  <content ID="token156">.</content> 
  </paragraph>
  </text>
  </section>
  </component>
- <component>
- <section>
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.3.18" /> 
  <code code="10187-3" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="REVIEW OF SYSTEMS" /> 
  <title>REVIEW OF SYSTEMS</title> 
- <text>
- <paragraph>
  <content ID="token167">Negative</content> 
  <content ID="token169">except for</content> 
  <content ID="token171">those</content> 
  <content ID="token173">symptoms</content> 
  <content ID="token175">noted</content> 
  <content ID="token177">above</content> 
  <content ID="token179">.</content> 
  </paragraph>
  </text>
  </section>
  </component>
- <component>
- <section>
  <templateId root="2.16.840.1.113883.10.20.2.9" /> 
  <code code="11348-0" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="HISTORY OF PAST ILLNESS" /> 
  <title>HISTORY OF PAST ILLNESS</title> 
- <text>
- <paragraph>
  <content ID="token191">There</content> 
  <content ID="token193">is</content> 
  <content ID="token195">a</content> 
  <content ID="token197">history</content> 
  <content ID="token199">of</content> 
  <content ID="token201">longstanding</content> 
  <content ID="token203">hypertension</content> 
  <content ID="token205">and</content> 
  <content ID="token207">mild</content> 
  <content ID="token209">symptoms</content> 
  <content ID="token211">of</content> 
  <content ID="token213">right</content> 
  <content ID="token215">sided</content> 
  <content ID="token218">heart</content> 
  <content ID="token220">failure</content> 
  <content ID="token222">.</content> 
  </paragraph>
  </text>
- <entry typeCode="DRIV">
- <act classCode="ACT" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.27" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.1" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.2" /> 
  <id root="da83bf1e-b4e5-46cb-8998-702f9276309d" /> 
  <code nullFlavor="NA" /> 
  <statusCode code="active" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
- <entryRelationship typeCode="SUBJ" inversionInd="false">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.28" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5" /> 
  <id root="807aff5f-0dc5-40f0-8534-a1bd63b9667a" /> 
  <code code="64572001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="Condition" /> 
- <text>
  <reference value="#token203" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
  <value xsi:type="CD" code="401.9" codeSystem="2.16.840.1.113883.6.2" codeSystemName="ICD9-CM" displayName="UNSPECIFIED ESSENTIAL HYPERTENSION" /> 
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.50" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="392521001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="HISTORY OF (CONTEXTUAL QUALIFIER)" /> 
  </observation>
  </entryRelationship>
  </observation>
  </entryRelationship>
  </act>
  </entry>
- <entry typeCode="DRIV">
- <act classCode="ACT" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.27" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.1" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.2" /> 
  <id root="a707835c-9e94-4549-8cc1-7f22f0d61378" /> 
  <code nullFlavor="NA" /> 
  <statusCode code="active" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
- <entryRelationship typeCode="SUBJ" inversionInd="false">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.28" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5" /> 
  <id root="e1a8e149-4bc1-45d0-9c28-7899119895df" /> 
  <code code="64572001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="Condition" /> 
- <text>
  <reference value="#xpointer(%23token213%7C%23token215%7C%23token218%7C%23token220)" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
  <value xsi:type="CD" code="428.0" codeSystem="2.16.840.1.113883.6.2" codeSystemName="ICD9-CM" displayName="CONGESTIVE HEART FAILURE UNSPECIFIED" /> 
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.50" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="392521001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="HISTORY OF (CONTEXTUAL QUALIFIER)" /> 
  </observation>
  </entryRelationship>
  </observation>
  </entryRelationship>
  </act>
  </entry>
  </section>
  </component>
- <component>
- <section>
  <templateId root="2.16.840.1.113883.10.20.1.4" /> 
  <code code="10157-6" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="HISTORY OF FAMILY MEMBER DISEASES" /> 
  <title>FAMILY HISTORY</title> 
  <text>None Recorded.</text> 
  </section>
  </component>
- <component>
- <section>
  <templateId root="2.16.840.1.113883.10.20.1.8" /> 
  <code code="10160-0" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="HISTORY OF MEDICATION USE" /> 
  <title>HISTORY OF MEDICATION USE</title> 
- <text>
- <paragraph>
  <content ID="token229">Hydrochlorothiazide</content> 
  <content ID="token230">25</content> 
  <content ID="token231">mg</content> 
  <content ID="token234">po</content> 
  <content ID="token235">bid</content> 
  <content ID="token238">.</content> 
  </paragraph>
  </text>
- <entry typeCode="DRIV">
- <substanceAdministration classCode="SBADM" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.24" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.8" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.7.1" /> 
  <id root="0d73e366-24f9-4ea1-a704-77f546dc36b3" /> 
- <text>
  <reference value="#xpointer(%23token229%7C%23token230%7C%23token231%7C%23token234%7C%23token235)" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  <high nullFlavor="UNK" /> 
  </effectiveTime>
- <effectiveTime xsi:type="PIVL_TS" institutionSpecified="true" operator="A">
  <period value="12" unit="h" /> 
  </effectiveTime>
  <routeCode code="C38288" codeSystem="2.16.840.1.113883.3.26.1.1" codeSystemName="FDARouteOfAdministration" displayName="ORAL" /> 
  <doseQuantity value="25" unit="MILLIGRAM" /> 
- <consumable>
- <manufacturedProduct classCode="MANU">
  <templateId root="2.16.840.1.113883.10.20.1.53" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.8.2" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.7.2" /> 
  <templateId root="2.16.840.1.113883.3.88.11.32.9" /> 
- <manufacturedMaterial>
- <code code="5487" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RxNorm" displayName="HYDROCHLOROTHIAZIDE">
- <originalText>
  <reference value="#token229" /> 
  </originalText>
  </code>
  <name>Hydrochlorothiazide</name> 
  </manufacturedMaterial>
  </manufacturedProduct>
  </consumable>
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.47" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="55561003" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="ACTIVE (QUALIFIER VALUE)" /> 
  </observation>
  </entryRelationship>
  </substanceAdministration>
  </entry>
  </section>
  </component>
- <component>
- <section>
  <templateId root="2.16.840.1.113883.10.20.1.2" /> 
  <code code="48765-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="ALLERGIES, ADVERSE REACTIONS, ALERTS DOCUMENT" /> 
  <title>ALLERGIES, ADVERSE REACTIONS, ALERTS DOCUMENT</title> 
- <text>
  <content ID="token245">NKA</content> 
  </text>
- <entry typeCode="DRIV">
- <act classCode="ACT" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.27" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.6" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.3" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.1" /> 
  <id root="178fb2a9-64db-4d47-b7fa-e0d1bbd7efa5" /> 
  <code nullFlavor="NA" /> 
  <statusCode code="active" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
- <entryRelationship typeCode="SUBJ" inversionInd="false">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.18" /> 
  <templateId root="2.16.840.1.113883.10.20.1.28" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.6" /> 
  <id root="4dd146b2-1a35-44b6-b156-d7d4e8c5e03b" /> 
  <code code="416098002" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="DRUG ALLERGY" /> 
- <text>
  <reference value="#token245" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
  <value xsi:type="CD" /> 
- <participant typeCode="CSM">
- <participantRole classCode="MANU">
- <playingEntity classCode="MMAT">
- <code code="60631419" codeSystem="2.16.840.1.113883.3.423.1.124816.3.8.1" codeSystemName="nuance-health" displayName="UNCODED FACT">
- <originalText>
  <reference value="#token245" /> 
  </originalText>
  </code>
  <name /> 
  </playingEntity>
  </participantRole>
  </participant>
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.39" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="160244002" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="NO KNOWN ALLERGIES" /> 
  </observation>
  </entryRelationship>
  </observation>
  </entryRelationship>
  </act>
  </entry>
  </section>
  </component>
- <component>
- <section>
  <templateId root="2.16.840.1.113883.10.20.1.14" /> 
  <code code="30954-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="RELEVANT DIAGNOSTIC TESTS AND/OR LABORATORY DATA" /> 
  <title>DIAGNOSTIC FINDINGS</title> 
  <text>None Recorded.</text> 
  </section>
  </component>
- <component>
- <section>
  <templateId root="2.16.840.1.113883.10.20.1.15" /> 
  <code code="29762-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="SOCIAL HISTORY" /> 
  <title>SOCIAL HISTORY</title> 
- <text>
  <content ID="token253">The</content> 
  <content ID="token255">patient</content> 
  <content ID="token257">denies</content> 
  <content ID="token259">smoking</content> 
  <content ID="token261">and</content> 
  <content ID="token263">drinking</content> 
  <content ID="token265">alcohol</content> 
  <content ID="token267">.</content> 
  </text>
- <entry typeCode="DRIV">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.33" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.19" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.13.4" /> 
  <id root="6b777242-1c63-4c20-9a52-393d89053da5" /> 
- <code code="160618006" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="CURRENT NON-SMOKER">
- <originalText>
  <reference value="#xpointer(%23token253%7C%23token255%7C%23token257%7C%23token259)" /> 
  </originalText>
  </code>
  <statusCode code="completed" /> 
  <value xsi:type="ST">None</value> 
  </observation>
  </entry>
- <entry typeCode="DRIV">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.33" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.19" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.13.4" /> 
  <id root="229156a2-a7fb-446e-980b-aa9952dadbad" /> 
- <code code="105542008" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="CURRENT NON-DRINKER OF ALCOHOL">
- <originalText>
  <reference value="#xpointer(%23token263%7C%23token265)" /> 
  </originalText>
  </code>
  <statusCode code="completed" /> 
  <value xsi:type="ST">None</value> 
  </observation>
  </entry>
  </section>
  </component>
- <component>
- <section>
  <templateId root="2.16.840.1.113883.10.20.2.10" /> 
  <code code="29545-1" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="PHYSICAL FINDINGS" /> 
  <title>PHYSICAL FINDINGS</title> 
- <text>
- <paragraph>
  <content ID="token277">Vital</content> 
  <content ID="token279">signs</content> 
  <content ID="token282">are</content> 
  <content ID="token284">within</content> 
  <content ID="token286">normal</content> 
  <content ID="token288">limits</content> 
  <content ID="token290">other than</content> 
  <content ID="token292">a</content> 
  <content ID="token294">systolic</content> 
  <content ID="token296">BP</content> 
  <content ID="token298">of</content> 
  <content ID="token299">160</content> 
  <content ID="token302">and</content> 
  <content ID="token304">a</content> 
  <content ID="token306">irregularly</content> 
  <content ID="token308">irregular</content> 
  <content ID="token310">pulse</content> 
  <content ID="token313">.</content> 
  <content ID="token316">The</content> 
  <content ID="token318">exam</content> 
  <content ID="token320">is</content> 
  <content ID="token322">remarkable</content> 
  <content ID="token324">for</content> 
  <content ID="token326">bilateral</content> 
  <content ID="token328">rales</content> 
  <content ID="token330">half</content> 
  <content ID="token332">way</content> 
  <content ID="token334">up</content> 
  <content ID="token336">the</content> 
  <content ID="token338">back</content> 
  <content ID="token340">,</content> 
  <content ID="token341">2+</content> 
  <content ID="token344">pitting</content> 
  <content ID="token346">edema</content> 
  <content ID="token349">to</content> 
  <content ID="token351">the</content> 
  <content ID="token353">knees</content> 
  <content ID="token355">,</content> 
  <content ID="token357">and</content> 
  <content ID="token359">a</content> 
  <content ID="token361">gallop</content> 
  <content ID="token363">rhythm</content> 
  <content ID="token366">.</content> 
  <content ID="token369">Exam</content> 
  <content ID="token371">otherwise</content> 
  <content ID="token373">normal</content> 
  <content ID="token375">.</content> 
  </paragraph>
  </text>
- <entry typeCode="DRIV">
- <organizer classCode="CLUSTER" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.35" /> 
  <id root="5a8acb34-ecab-4174-ac6e-3b2b2d74fe19" /> 
  <code code="46680005" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="Vital signs" /> 
  <statusCode code="completed" /> 
- <component>
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.31" /> 
  <id root="91a73dbb-3e9e-44f8-8920-e29afde64c29" /> 
  <code code="271649006" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="Systolic BP" /> 
  <statusCode code="completed" /> 
  <value xsi:type="PQ" value="160.0" unit="mm[Hg]" /> 
  </observation>
  </component>
- <component>
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.31" /> 
  <id root="42d6f275-60fb-45db-b996-e69512e905fc" /> 
  <code code="271650006" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="Diastolic BP" /> 
  <statusCode code="completed" /> 
  <value xsi:type="PQ" value="null" unit="mm[Hg]" /> 
  </observation>
  </component>
  </organizer>
  </entry>
- <component>
- <section>
  <templateId root="2.16.840.1.113883.10.20.2.4" /> 
  <code code="8716-3" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="VITAL SIGNS" /> 
  <title>VITAL SIGNS</title> 
  <text>None Recorded.</text> 
  </section>
  </component>
- <component>
- <section>
  <templateId root="2.16.840.1.113883.10.20.2.5" /> 
  <code code="10210-3" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="GENERAL STATUS, PHYSICAL FINDINGS" /> 
  <title>GENERAL STATUS</title> 
  <text>None Recorded.</text> 
  </section>
  </component>
  </section>
  </component>
- <component>
- <section>
  <code code="39949752" codeSystem="2.16.840.1.113883.3.423.1.124816.3.8.1.1" codeSystemName="Nuance Section Code" displayName="findings" /> 
  <title>findings</title> 
- <text>
- <paragraph>
  <content ID="token382">EKG</content> 
  <content ID="token384">reveals</content> 
  <content ID="token386">atrial</content> 
  <content ID="token388">fibrillation</content> 
  <content ID="token391">with</content> 
  <content ID="token392">RVR</content> 
  <content ID="token394">180</content> 
  <content ID="token397">.</content> 
  <content ID="token399">BNP</content> 
  <content ID="token402">markedly</content> 
  <content ID="token404">elevated</content> 
  <content ID="token406">.</content> 
  <content ID="token409">Chest</content> 
  <content ID="token411">x-ray</content> 
  <content ID="token414">displays</content> 
  <content ID="token415">Kerly</content> 
  <content ID="token418">-</content> 
  <content ID="token420">B</content> 
  <content ID="token422">lines</content> 
  <content ID="token425">and</content> 
  <content ID="token427">cephalization</content> 
  <content ID="token429">.</content> 
  <content ID="token432">Echocardiogram</content> 
  <content ID="token434">shows</content> 
  <content ID="token436">a</content> 
  <content ID="token438">low</content> 
  <content ID="token440">systolic</content> 
  <content ID="token442">ejection</content> 
  <content ID="token444">fraction</content> 
  <content ID="token447">of</content> 
  <content ID="token448">25</content> 
  <content ID="token449">%</content> 
  <content ID="token452">.</content> 
  </paragraph>
  </text>
  </section>
  </component>
- <component>
- <section>
  <templateId root="2.16.840.1.113883.10.20.2.7" /> 
  <code code="51848-0" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="ASSESSMENT NOTE" /> 
  <title>ASSESSMENT NOTE</title> 
- <text>
- <paragraph>
  <content ID="token459">New</content> 
  <content ID="token461">atrial</content> 
  <content ID="token463">fibrillation</content> 
  <content ID="token466">of</content> 
  <content ID="token468">more than</content> 
  <content ID="token469">48</content> 
  <content ID="token472">hours</content> 
  <content ID="token474">duration</content> 
  <content ID="token476">and</content> 
  <content ID="token478">new</content> 
  <content ID="token480">cardiac</content> 
  <content ID="token482">insufficiency</content> 
  <content ID="token484">.</content> 
  </paragraph>
  </text>
- <entry typeCode="DRIV">
- <act classCode="ACT" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.27" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.1" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.2" /> 
  <id root="e28c3869-017b-4e00-b4df-37dbd8115ed1" /> 
  <code nullFlavor="NA" /> 
  <statusCode code="active" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
- <entryRelationship typeCode="SUBJ" inversionInd="false">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.28" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5" /> 
  <id root="6f84b995-2ff0-4dd9-b98f-d68ff6ee1b2a" /> 
  <code code="64572001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="Condition" /> 
- <text>
  <reference value="#xpointer(%23token461%7C%23token463)" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
  <value xsi:type="CD" code="427.31" codeSystem="2.16.840.1.113883.6.2" codeSystemName="ICD9-CM" displayName="ATRIAL FIBRILLATION" /> 
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.50" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="55561003" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="ACTIVE" /> 
  </observation>
  </entryRelationship>
  </observation>
  </entryRelationship>
  </act>
  </entry>
- <entry typeCode="DRIV">
- <act classCode="ACT" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.27" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.1" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.2" /> 
  <id root="4601645c-0619-4bf3-a0d8-a74437d904ef" /> 
  <code nullFlavor="NA" /> 
  <statusCode code="active" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
- <entryRelationship typeCode="SUBJ" inversionInd="false">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.28" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5" /> 
  <id root="593d62d2-c490-431d-8bfe-f4bb8ca6935a" /> 
  <code code="64572001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="Condition" /> 
- <text>
  <reference value="#xpointer(%23token480%7C%23token482)" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
  <value xsi:type="CD" code="428.9" codeSystem="2.16.840.1.113883.6.2" codeSystemName="ICD9-CM" displayName="HEART FAILURE UNSPECIFIED" /> 
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.50" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="55561003" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="ACTIVE" /> 
  </observation>
  </entryRelationship>
  </observation>
  </entryRelationship>
  </act>
  </entry>
  </section>
  </component>
- <component>
- <section>
  <templateId root="2.16.840.1.113883.10.20.2.7" /> 
  <code code="18776-5" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="PLAN OF TREATMENT" /> 
  <title>PLAN OF TREATMENT</title> 
- <text>
- <paragraph>
  <content ID="token491">Admit</content> 
  <content ID="token493">for</content> 
  <content ID="token495">anticoagulation</content> 
  <content ID="token497">,</content> 
  <content ID="token499">medical</content> 
  <content ID="token501">management</content> 
  <content ID="token504">of</content> 
  <content ID="token506">atrial</content> 
  <content ID="token508">fibrillation</content> 
  <content ID="token511">and</content> 
  <content ID="token513">consult</content> 
  <content ID="token514">Cardology</content> 
  <content ID="token517">re</content> 
  <content ID="token518">cardiversion</content> 
  <content ID="token521">.</content> 
  <content ID="token524">Begin</content> 
  <content ID="token526">Cardizem</content> 
  <content ID="token528">drip</content> 
  <content ID="token530">,</content> 
  <content ID="token532">enalapril</content> 
  <content ID="token533">10</content> 
  <content ID="token534">mg</content> 
  <content ID="token537">po</content> 
  <content ID="token538">bid</content> 
  <content ID="token541">and</content> 
  <content ID="token543">IV</content> 
  <content ID="token545">Lasix</content> 
  <content ID="token546">40</content> 
  <content ID="token547">mg</content> 
  <content ID="token550">IV</content> 
  <content ID="token551">q12</content> 
  <content ID="token554">.</content> 
  </paragraph>
- <paragraph>
  <content ID="token558">CLARIFICATIONS</content> 
  <content ID="token561">The</content> 
  <content ID="token563">diagnosis</content> 
  <content ID="token565">of</content> 
  <content ID="token567">acute</content> 
  <content ID="token569">on</content> 
  <content ID="token571">chronic</content> 
  <content ID="token574">systolic</content> 
  <content ID="token576">heart</content> 
  <content ID="token578">failure</content> 
  <content ID="token580">is</content> 
  <content ID="token582">supported</content> 
  <content ID="token584">by</content> 
  <content ID="token586">the</content> 
  <content ID="token588">following</content> 
  <content ID="token590">evidence</content> 
  <content ID="token592">:</content> 
  <content ID="token594">recent</content> 
  <content ID="token596">changes</content> 
  <content ID="token598">in</content> 
  <content ID="token600">symptoms</content> 
  <content ID="token602">of</content> 
  <content ID="token604">dyspnea</content> 
  <content ID="token606">,</content> 
  <content ID="token608">rales</content> 
  <content ID="token610">,</content> 
  <content ID="token612">edema</content> 
  <content ID="token614">,</content> 
  <content ID="token616">history</content> 
  <content ID="token618">of</content> 
  <content ID="token620">heart</content> 
  <content ID="token622">failure</content> 
  <content ID="token624">,</content> 
  <content ID="token626">systolic</content> 
  <content ID="token628">ejection</content> 
  <content ID="token630">fraction</content> 
  <content ID="token633">low</content> 
  <content ID="token635">,</content> 
  <content ID="token636">BNP</content> 
  <content ID="token639">markedly</content> 
  <content ID="token641">elevated</content> 
  <content ID="token643">,</content> 
  <content ID="token645">abnormal</content> 
  <content ID="token647">CXR</content> 
  <content ID="token649">and</content> 
  <content ID="token651">ACE</content> 
  <content ID="token653">inhibitor</content> 
  <content ID="token656">prescribed</content> 
  <content ID="token658">.</content> 
  </paragraph>
- <paragraph>
  <content ID="token662">CLARIFICATIONS</content> 
  <content ID="token665">The</content> 
  <content ID="token667">diagnosis</content> 
  <content ID="token669">of</content> 
  <content ID="token671">acute</content> 
  <content ID="token673">on</content> 
  <content ID="token675">chronic</content> 
  <content ID="token678">systolic</content> 
  <content ID="token680">heart</content> 
  <content ID="token682">failure</content> 
  <content ID="token684">is</content> 
  <content ID="token686">supported</content> 
  <content ID="token688">by</content> 
  <content ID="token690">the</content> 
  <content ID="token692">following</content> 
  <content ID="token694">evidence</content> 
  <content ID="token696">:</content> 
  <content ID="token698">recent</content> 
  <content ID="token700">changes</content> 
  <content ID="token702">in</content> 
  <content ID="token704">symptoms</content> 
  <content ID="token706">of</content> 
  <content ID="token708">dyspnea</content> 
  <content ID="token710">,</content> 
  <content ID="token712">rales</content> 
  <content ID="token714">,</content> 
  <content ID="token716">edema</content> 
  <content ID="token718">,</content> 
  <content ID="token720">history</content> 
  <content ID="token722">of</content> 
  <content ID="token724">heart</content> 
  <content ID="token726">failure</content> 
  <content ID="token728">,</content> 
  <content ID="token730">systolic</content> 
  <content ID="token732">ejection</content> 
  <content ID="token734">fraction</content> 
  <content ID="token737">low</content> 
  <content ID="token739">,</content> 
  <content ID="token740">BNP</content> 
  <content ID="token743">markedly</content> 
  <content ID="token745">elevated</content> 
  <content ID="token747">,</content> 
  <content ID="token749">abnormal</content> 
  <content ID="token751">CXR</content> 
  <content ID="token753">and</content> 
  <content ID="token755">ACE</content> 
  <content ID="token757">inhibitor</content> 
  <content ID="token760">prescribed</content> 
  <content ID="token762">.</content> 
  </paragraph>
  </text>
- <entry typeCode="DRIV">
- <act classCode="ACT" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.27" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.1" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.2" /> 
  <id root="18883867-5363-47cc-a541-c3d16a11efc1" /> 
  <code nullFlavor="NA" /> 
  <statusCode code="active" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
- <entryRelationship typeCode="SUBJ" inversionInd="false">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.28" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5" /> 
  <id root="ed22356a-3035-4e24-b9ec-0665620ea7f6" /> 
  <code code="64572001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="Condition" /> 
- <text>
  <reference value="#xpointer(%23token567%7C%23token569%7C%23token571%7C%23token574%7C%23token576%7C%23token578)" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
  <value xsi:type="CD" code="428.23" codeSystem="2.16.840.1.113883.6.2" codeSystemName="ICD9-CM" displayName="ACUTE ON CHRONIC SYSTOLIC HEART FAILURE" /> 
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.50" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="55561003" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="ACTIVE" /> 
  </observation>
  </entryRelationship>
  </observation>
  </entryRelationship>
  </act>
  </entry>
- <entry typeCode="DRIV">
- <act classCode="ACT" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.27" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.1" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.2" /> 
  <id root="2c749751-b582-4e16-a603-14d2c29f783f" /> 
  <code nullFlavor="NA" /> 
  <statusCode code="active" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
- <entryRelationship typeCode="SUBJ" inversionInd="false">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.28" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5" /> 
  <id root="f37d80b7-c698-4b95-a883-3333137c8cfc" /> 
  <code code="64572001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="Condition" /> 
- <text>
  <reference value="#token604" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
  <value xsi:type="CD" code="786.09" codeSystem="2.16.840.1.113883.6.2" codeSystemName="ICD9-CM" displayName="RESPIRATORY ABNORMALITY OTHER" /> 
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.50" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="392521001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="HISTORY OF (CONTEXTUAL QUALIFIER)" /> 
  </observation>
  </entryRelationship>
  </observation>
  </entryRelationship>
  </act>
  </entry>
- <entry typeCode="DRIV">
- <act classCode="ACT" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.27" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.1" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.2" /> 
  <id root="39d55554-1796-449c-a199-7261adb8f163" /> 
  <code nullFlavor="NA" /> 
  <statusCode code="active" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
- <entryRelationship typeCode="SUBJ" inversionInd="false">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.28" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5" /> 
  <id root="575598ec-15c2-4bf9-b201-92acc5a6617c" /> 
  <code code="64572001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="Condition" /> 
- <text>
  <reference value="#token608" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
  <value xsi:type="CD" code="786.7" codeSystem="2.16.840.1.113883.6.2" codeSystemName="ICD9-CM" displayName="ABNORMAL CHEST SOUNDS" /> 
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.50" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="392521001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="HISTORY OF (CONTEXTUAL QUALIFIER)" /> 
  </observation>
  </entryRelationship>
  </observation>
  </entryRelationship>
  </act>
  </entry>
- <entry typeCode="DRIV">
- <act classCode="ACT" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.27" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.1" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.2" /> 
  <id root="98259baa-c349-4bae-bbe5-2c938c25d9ab" /> 
  <code nullFlavor="NA" /> 
  <statusCode code="active" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
- <entryRelationship typeCode="SUBJ" inversionInd="false">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.28" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5" /> 
  <id root="ba68ad4b-44d5-43b7-8cc9-0d98062c1959" /> 
  <code code="64572001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="Condition" /> 
- <text>
  <reference value="#token612" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
  <value xsi:type="CD" code="782.3" codeSystem="2.16.840.1.113883.6.2" codeSystemName="ICD9-CM" displayName="EDEMA" /> 
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.50" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="392521001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="HISTORY OF (CONTEXTUAL QUALIFIER)" /> 
  </observation>
  </entryRelationship>
  </observation>
  </entryRelationship>
  </act>
  </entry>
- <entry typeCode="DRIV">
- <act classCode="ACT" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.27" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.1" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.2" /> 
  <id root="ed6cea42-432e-4dcc-a4ab-0a48f8830e72" /> 
  <code nullFlavor="NA" /> 
  <statusCode code="active" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
- <entryRelationship typeCode="SUBJ" inversionInd="false">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.28" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5" /> 
  <id root="4a96e591-a4e2-4b3c-8e41-a7c23c56cc1b" /> 
  <code code="64572001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="Condition" /> 
- <text>
  <reference value="#xpointer(%23token620%7C%23token622%7C%23token624%7C%23token626)" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
  <value xsi:type="CD" code="428.20" codeSystem="2.16.840.1.113883.6.2" codeSystemName="ICD9-CM" displayName="UNSPECIFIED SYSTOLIC HEART FAILURE" /> 
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.50" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="392521001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="HISTORY OF (CONTEXTUAL QUALIFIER)" /> 
  </observation>
  </entryRelationship>
  </observation>
  </entryRelationship>
  </act>
  </entry>
- <entry typeCode="DRIV">
- <act classCode="ACT" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.27" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.1" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5.2" /> 
  <id root="3a863103-cef0-4603-974c-8f7346b01d15" /> 
  <code nullFlavor="NA" /> 
  <statusCode code="active" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
- <entryRelationship typeCode="SUBJ" inversionInd="false">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.28" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.5" /> 
  <id root="6f84d0ab-6383-4038-a60a-e0b8896c4918" /> 
  <code code="64572001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="Condition" /> 
- <text>
  <reference value="#xpointer(%23token636%7C%23token641)" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  </effectiveTime>
  <value xsi:type="CD" code="790.99" codeSystem="2.16.840.1.113883.6.2" codeSystemName="ICD9-CM" displayName="OTHER ABNORMAL FINDINGS ON EXAMINATION OF BLOOD" /> 
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.50" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="392521001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="HISTORY OF (CONTEXTUAL QUALIFIER)" /> 
  </observation>
  </entryRelationship>
  </observation>
  </entryRelationship>
  </act>
  </entry>
- <entry typeCode="DRIV">
- <substanceAdministration classCode="SBADM" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.24" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.8" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.7.1" /> 
  <id root="44bff7bc-eeaf-4071-b305-0895d2eb4353" /> 
- <text>
  <reference value="#xpointer(%23token524%7C%23token526%7C%23token528)" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  <high nullFlavor="UNK" /> 
  </effectiveTime>
- <consumable>
- <manufacturedProduct classCode="MANU">
  <templateId root="2.16.840.1.113883.10.20.1.53" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.8.2" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.7.2" /> 
  <templateId root="2.16.840.1.113883.3.88.11.32.9" /> 
- <manufacturedMaterial>
- <code code="203494" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RxNorm" displayName="CARDIZEM">
- <originalText>
  <reference value="#token526" /> 
  </originalText>
  </code>
  <name>Cardizem</name> 
  </manufacturedMaterial>
  </manufacturedProduct>
  </consumable>
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.47" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="55561003" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="ACTIVE (QUALIFIER VALUE)" /> 
  </observation>
  </entryRelationship>
  </substanceAdministration>
  </entry>
- <entry typeCode="DRIV">
- <substanceAdministration classCode="SBADM" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.24" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.8" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.7.1" /> 
  <id root="a22b4fbb-118c-46c7-afed-c2145d36b788" /> 
- <text>
  <reference value="#xpointer(%23token524%7C%23token532%7C%23token533%7C%23token534%7C%23token537%7C%23token538)" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  <high nullFlavor="UNK" /> 
  </effectiveTime>
- <effectiveTime xsi:type="PIVL_TS" institutionSpecified="true" operator="A">
  <period value="12" unit="h" /> 
  </effectiveTime>
  <routeCode code="C38288" codeSystem="2.16.840.1.113883.3.26.1.1" codeSystemName="FDARouteOfAdministration" displayName="ORAL" /> 
  <doseQuantity value="10" unit="MILLIGRAM" /> 
- <consumable>
- <manufacturedProduct classCode="MANU">
  <templateId root="2.16.840.1.113883.10.20.1.53" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.8.2" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.7.2" /> 
  <templateId root="2.16.840.1.113883.3.88.11.32.9" /> 
- <manufacturedMaterial>
- <code code="3827" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RxNorm" displayName="ENALAPRIL">
- <originalText>
  <reference value="#token532" /> 
  </originalText>
  </code>
  <name>enalapril</name> 
  </manufacturedMaterial>
  </manufacturedProduct>
  </consumable>
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.47" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="55561003" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="ACTIVE (QUALIFIER VALUE)" /> 
  </observation>
  </entryRelationship>
  </substanceAdministration>
  </entry>
- <entry typeCode="DRIV">
- <substanceAdministration classCode="SBADM" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.24" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.8" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.7" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.7.1" /> 
  <id root="a9669305-bc4b-49ca-bf30-2d8c381b85c2" /> 
- <text>
  <reference value="#xpointer(%23token524%7C%23token543%7C%23token545%7C%23token546%7C%23token547%7C%23token550%7C%23token551)" /> 
  </text>
  <statusCode code="completed" /> 
- <effectiveTime xsi:type="IVL_TS">
  <low nullFlavor="UNK" /> 
  <high nullFlavor="UNK" /> 
  </effectiveTime>
- <effectiveTime xsi:type="PIVL_TS" institutionSpecified="true" operator="A">
  <period value="12" unit="h" /> 
  </effectiveTime>
  <routeCode code="C38276" codeSystem="2.16.840.1.113883.3.26.1.1" codeSystemName="FDARouteOfAdministration" displayName="INTRAVENOUS" /> 
  <doseQuantity value="40" unit="MILLIGRAM" /> 
- <consumable>
- <manufacturedProduct classCode="MANU">
  <templateId root="2.16.840.1.113883.10.20.1.53" /> 
  <templateId root="2.16.840.1.113883.3.88.11.83.8.2" /> 
  <templateId root="1.3.6.1.4.1.19376.1.5.3.1.4.7.2" /> 
  <templateId root="2.16.840.1.113883.3.88.11.32.9" /> 
- <manufacturedMaterial>
- <code code="202991" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RxNorm" displayName="LASIX">
- <originalText>
  <reference value="#token545" /> 
  </originalText>
  </code>
  <name>Lasix</name> 
  </manufacturedMaterial>
  </manufacturedProduct>
  </consumable>
- <entryRelationship typeCode="REFR">
- <observation classCode="OBS" moodCode="EVN">
  <templateId root="2.16.840.1.113883.10.20.1.47" /> 
  <code code="33999-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Status" /> 
  <statusCode code="completed" /> 
  <value xsi:type="CE" code="55561003" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMED CT" displayName="ACTIVE (QUALIFIER VALUE)" /> 
  </observation>
  </entryRelationship>
  </substanceAdministration>
  </entry>
  </section>
  </component>
  </structuredBody>
  </component>
  </ClinicalDocument>
