<%
timeout = 5000
i = 0
while i < 7
    timeout = 40000 if $aGame.currentplayertileset[i] == '*'
    i += 1
end

aForm = "
<html
<head><title>Generating Results</title>
<script>
function setPercentage(id, percent)
{
div = document.getElementById(id);
div.style.width = percent;
}

function donothing()
{
}

</script>
</head>

<body>
<div> Finding possible moves ....

<button type=\"button\" onclick=\"setPercentage('inner','77%')\">Click Me!</button> </div>

<div id=\"progress\" style=\"border: 1px solid black;\">
<div id=\"inner\" style=\"background-color:green; width:0%\">&nbsp;</div>
</div>"

<script>
var i = 0;
var percentage;
var t;

while i <= #{timeout}
{
percentage = 100*i/#{timeout} + '%';
t = setTimeout(function(){donothing()}, 1000);
setPercentage('inner',percentage);
i += 1000;
};

var form = document.createElement(\"form\");
form.setAttribute(\"method\", \"POST\");
form.setAttribute(\"action\", \"/results\");
t = setTimeout(function(){form.submit()}, 5000);
</script>

</body>
</html>"

return aForm
%>

