
 
<%      


       aForm = "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">"
	aForm = aForm + " <form action=\"/board\" method=\"post\"> "
	aForm = aForm + "<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\" xml:lang=\"en\"> "
	aForm = aForm + "<head> <title>Current Board</title> </head> <body> <div> Current Board<table> "
       i = 0
	while i < 15
			aForm = aForm + "<tr>"
            j = 0
			while j < 15
				aForm = aForm + "<td"
                aForm = aForm + " bgcolor=#0000FF" if ($aWordfriend.myboard.newgrid[i][j] == 'n')
                aForm = aForm + ">"
                aForm = aForm + "<input type = \"text\""
                aForm = aForm + " value =\"#{$aWordfriend.myboard.lettergrid[i][j]}\""
                aForm = aForm + " size =\"1\" name =\"#{@posname[i][j]}\""
                j += 1
                aForm = aForm + " </td>"
			end
	aForm = aForm + "</tr>"
       i += 1
	end
aForm = aForm + "</table></div>"

aForm = aForm +  " <div> Current Tiles<table> <tr> "
aForm = aForm + "<td> <input type = \"text\" size =\"1\" name =\"tile0\" value =\"#{$aWordfriend.myboard.tileword[0]}\" </td> "
aForm = aForm + "<td> <input type = \"text\" size =\"1\" name =\"tile1\" value =\"#{$aWordfriend.myboard.tileword[1]}\" </td> "
aForm = aForm + "<td> <input type = \"text\" size =\"1\" name =\"tile2\" value =\"#{$aWordfriend.myboard.tileword[2]}\" </td> "
aForm = aForm + "<td> <input type = \"text\" size =\"1\" name =\"tile3\" value =\"#{$aWordfriend.myboard.tileword[3]}\" </td> "
aForm = aForm + "<td> <input type = \"text\" size =\"1\" name =\"tile4\" value =\"#{$aWordfriend.myboard.tileword[4]}\" </td> "
aForm = aForm + "<td> <input type = \"text\" size =\"1\" name =\"tile5\" value =\"#{$aWordfriend.myboard.tileword[5]}\" </td> "
aForm = aForm + "<td> <input type = \"text\" size =\"1\" name =\"tile6\" value =\"#{$aWordfriend.myboard.tileword[6]}\" </td> "
aForm = aForm +  " </tr> </table> </div>"
aForm = aForm  + "<div> <input type = \"submit\" value = \"Save Board & Tiles and Find Words\" formaction = \"/results\"/> </div> "
aForm = aForm + "</body> </form> </html>"

return aForm
%>
 
 
